@using BlazorStore.Models
@using BlazorStore.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@using BlazorStore.Services
@inject IImageService _imageService

<!-- Single Widget -->
<div class="single-widget search">
    <div class="form">
        <input type="email" placeholder="Search Here...">
        <a class="button" href="#"><i class="fa fa-search"></i></a>
    </div>
</div>
<!--/ End Single Widget -->

@code {

}
